# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\7_semestr\Android\HelloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
